**/target/**
target/**
*.code-workspace
tmp*
temp*
dists/**
.vscode/
.test/small_unaligned_fiberseq.bam
Gemfile*
_site/*
models/backups/*
get_json.sh
src/model
.devcontainer/**
issue_data/**
flamegraph*
tests/data/chr20*bam*
hub.txt
*test.bam*
py-ft/Cargo.lock
py-ft/test.html
py-ft/test.py
py-ft/test.tbl
tests/data/shuffle.chr20.hifi.bed.gz
benchmarks/2025-07-08-new-torch-version/bin/
local-test-files/
pg-test-data/