**/target/**
target/**
*.code-workspace
tmp*
temp*
dists/**
.vscode/
.test/small_unaligned_fiberseq.bam
Gemfile*
_site/*
models/backups/*
get_json.sh
src/model
.devcontainer/**
issue_data/**
flamegraph*
tests/data/chr20*bam*
hub.txt
*test.bam*
py-ft/Cargo.lock
