[target.x86_64-apple-darwin]
rustflags = [
  "-C", "link-arg=-undefined",
  "-C", "link-arg=dynamic_lookup",
  "-C", "target-cpu=generic",
]

[target.x86_64-unknown-linux-gnu]
rustflags = [
    "-C", "link-arg=-Wl,--allow-shlib-undefined", 
    "-C", "link-arg=-fno-lto",
    "-C", "target-cpu=generic",
]

# this breaks my build on my mac. I don't know why
#[build]
#rustflags = ["-Ctarget-cpu=native", "-Clink-arg=-fuse-ld=lld"]